---
layout: default
title: The Sheep Vote
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Give me something</h1>
				<p class="editable">Blog with the personal notes about some programs and common tasks in bioinformatics with some tips.</p>
				<div class="button">
					<a href="#donate">Donate</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">what can you find?</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">RNA qc-chain examples</h3>
			<p class="editable">some tricks and examples that you don't find in the documentation. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">SRA from the NCBI site</h3>
			<p class="editable">In some case, you got lost in the SRA puzzle? me too. Some tricks</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Bowtie2</h3>
			<p class="editable">Aligner program example with viruses.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">why should you visit this page?</h2>

			<p class="editable">Because we can learn together, i gonna share with you the way that i used for running the programms or the way that i used for common tasks in bioinformatic scripts. I have realiced that the documentation not is usefull in all the cases, depend the level of knowledge that we have of how work a structure of a computer, the common lenguage between programmers or things that supposed we already have, i think that this had be usefull when i google many of the typical begginner bioinformatic problem.</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Tocino.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Paco</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest post.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
